<web-app>
    <servlet>
        <servlet-name>firstapp</servlet-name>
        <servlet-class>riansyah.main.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>firstapp</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
<!--  <servlet>-->
<!--    <servlet-name>main</servlet-name>-->
<!--    <servlet-class>com.riansyah.main.MainServlet</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>main</servlet-name>-->
<!--    <url-pattern>/*</url-pattern>-->
<!--  </servlet-mapping>-->
</web-app>



