<web-app>
    <servlet>
        <servlet-name>firstapp</servlet-name>
        <servlet-class>riansyah.main.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>firstapp</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Product API</servlet-name>
        <servlet-class>riansyah.api.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Product API</servlet-name>
        <url-pattern>/api/product</url-pattern>
    </servlet-mapping>

    
</web-app>
